#containercanvas {
    width: 800px;
    height: 300px;
    border: 5px solid black; /* Aquí defines el marco */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    position: relative; /* Asegura que el contenedor esté en la posición correcta */
}

.button-containercanvas {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.toggle-btn {
    background-color: #f0f0f0;
    color: #333;
}

.toggle-btn.active {
    background-color: #007bff;
    color: #fff;
}

.submit-btn {
    background-color: #28a745;
    color: #fff;
}

.submit-btn:hover {
    background-color: #218838;
}

@media (max-width: 600px) {
    .button-containercanvas {
      flex-wrap: wrap;
    }
    .toggle-btn, .submit-btn {
      width: 100%;
      margin-bottom: 10px;
    }
  }